# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Arturo\Documents\Java,Kotlin,Python etc\Java\JavaWeb\HelloWorldWeb\HelloWorldWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
